<h1>Welcome to Nomster</h1>
<% @places.each do |place| %>
  <div class="nom-box col-xs-10 col-xs-offset-1">
    <h2><%= place.name %></h2>
    <h2><%= place.address %></h2>
    <h2><%= place.description %></h2>
  </div>
<% end %>
